.navbar nav{
    background-color: blue;
}

.navbar-brand i{
    color: blue;
    font-size: 20px;
    
}
.form{
    width: 550px;
}
.form button{
    padding: 5px 5px;
    border: 2px black;
}



@media screen and (min-width:426px) and (max-width:768px)
{
    .form{
       
      margin-left: 260px;
        
    }
    
}
@media only screen and (max-width:425px) {
    .form{
       
        margin-left: 100px;
        margin-top: 10px;
    }
    .navbar-nav{
        width: 50%;
        position: absolute;
        z-index: 1;
        right:15px;
        border: 2px ridge black;
        background-color: white;
        margin-top: 10px;
    }
   
    
    
}


